<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    {% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}">{% endif %}

    {# Stylesheets #}
    {% for stylesheet in get_stylesheets() %}
    <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <link rel="shortcut icon" type="image/png" href="{{ assets_dir() }}/images/icons/favicon.png">

    {{ head() }}

</head>
<body class="{% if page.index.1 %}base--{{ page.index.0 }}{% endif %} page page--{{ page.slug }}">

    <div id="browser-warning" class="browser-message">
        <h1>Your browser is out of date</h1>
        <p>This website has been built for modern browsers, yours is many years out of date and as a result, your experience of this website will be poor.</p>
        <p>Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> and pop back.</p>
        <p>Thanks.</p>
    </div>

    {% block body %}{% endblock %}

    {% for script in get_scripts() %}
    <script src="{{ script }}"></script>
    {% endfor %}

    {{ footer() }}

</body>
</html>
